#icon-wrapper path{
    fill: var(--main-color);
    stroke: 30;
    stroke-dasharray: 1100;
    stroke-dashoffset: 0;
    animation: outline 2s linear;
}

@keyframes outline {
    0%{
        stroke-dashoffset: 1100;
        stroke: #fff;
        fill: transparent;
    }

    50%{
        stroke-dashoffset: 1100;
        stroke: #fff;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        stroke: #fff;
        fill: transparent;
    }
}

#brand{
    opacity: 0;
    animation: appear 3s 2s linear forwards;
}

#slogan{
    opacity: 0;
    animation: appear 3s 3s linear forwards;
}

@keyframes appear {
    to{opacity: 1;}
}

#home-container{animation: disappear 2s linear 5s forwards;}

@keyframes disappear {
    to{
       visibility: hidden;
       opacity: 0;
    }
} 

#title-wrapper, #converter-container, #result-box{ visibility: hidden;}
#title-wrapper{animation: showContent 1s linear 7s forwards;}
#converter-container{animation: showContent 1s linear 8s forwards;}
#result-box{animation: showContent 1s linear 9s forwards;}

@keyframes showContent {
    0%{transform: translateY(-10px);}
    100%{
        visibility: visible;
        transform: translateY(0px);
    }
}