@media screen and (max-width:1023px) {
    #converter-container{
        display: grid;
    }
    
    #header-wrapper, #converter-container, #result-container{
        width: 85%;
    }

    #converter-container,  #result-container{
        padding: 1.5rem;
    }
}
