#icon svg{
    width: 300px;
    filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.6));
    margin-left: -4rem;
}

#brand{
    font:3.5rem 'Audiowide', sans-serif;
    letter-spacing: 5px;
    margin-left: -9rem;
}

#slogan{
    letter-spacing: 5px;
    place-self: center;
}

#title-wrapper{
    display: grid;
    justify-content: end;
    align-content: flex-start;
    text-align: right;
}

#title-one{
    font-size: 1.2rem;
}

#title-two{
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 3px;
    color: var(--main-color);
}

#line{
    width: 80vw;
    border-bottom: 3px solid;
    border-image: linear-gradient(260deg, var(--main-color), white)1;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 2.5rem;
    text-align: center;

    background-color:var(--glass);
    backdrop-filter: blur(30px);
}

#converter-container{
    display: grid;
}

#currency-option-box{
    display: flex;
    place-content: center;
    justify-content: space-evenly;
}

select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;

    background: url('../assets/arrow.svg ') no-repeat right;
    background-size: 1rem;
    background-color: var(--gray);
}

#btn-converter{
    font-size: 1.2rem;
    background-color: white;
    color: var(--main-color);
    letter-spacing: 3px;
    font-weight: bolder;
    cursor: pointer;
}

#btn-converter:hover{
    background-color: var(--main-color);
    color: white;
    transition: .2s ease-in;
}

#btn-converter:active{
    transform: scale(.9);
    transition: .1s ease-in;
}

#result-box{
    padding: 1rem;
    background-color: var(--glass);
    backdrop-filter: blur(30px);
    text-align: center;
    border: 2px solid var(--main-color);
}

#result-value{
    font-size: 2.5rem;
}

#update-info{
    font-size: 12px;
}

input, select, button, #result-box{
    border-radius: 10px;
}