#header-container{
    background-color: #3b4753;
    height: 300px;
    padding: 1rem 0;
}

#icon-wrapper svg{
    width: 250px;
    filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.6));
}

#brand{
    font:3.5rem 'Audiowide', sans-serif;
    letter-spacing: 5px;
}

#slogan{
    position: absolute;
    align-self: flex-end;
    justify-self: center;
    max-width: 120px;
    padding-bottom: 2rem;
    letter-spacing: 5px;
}

.line{
    padding: 5px;
}

.line:nth-child(2){
    width: 40%;
    border-bottom: 2px solid var(--light-green);
}

.line:nth-child(3){
    width: 80%;
    border-bottom: 4px solid #fff;
}

.line:nth-child(4){
    width: 60%;
    border-bottom: 2px solid var(--main-color);
}

#title span{
    font-size: 3.5rem;
    color: var(--main-color);
}

#converter-container,input, select ,button, footer{
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#converter-container{
    background-color: var(--dark-gray);
}

input, select, button, option{
    font-size: 1.2rem;
    padding: 5px 15px;
    color: black;
    text-align: center;
    box-sizing: border-box;
}

input:focus, select:focus{
    box-shadow: 0 0 0 1.3pt var(--main-color);
}

#amount-input{
    width: 100%;
}

#rate-selector-wrapper{
    display: flex;
    justify-content: space-between;
}

label{
    margin-left: 5px;
}

#btn-convert{
    margin-top: 1rem;
    color: white;
    background-color: var(--light-green);
    cursor: pointer;
}

#btn-convert:hover{
    background-color: var(--main-color);
    transition: ease-in .2s;
}

#btn-convert:active{
    transform: scale(.95);
}

#result{
    font-size: 3rem;
    color: var(--main-color);
}

#updateRate{
    font-size: 10px;
}
